#innerview {
  position: absolute;
  top: 50px;
  left: 100px;
  border: 2px solid;
  overflow: hidden;
  height: 400px;
  width: 400px; }
  #innerview #subInnerview {
    -webkit-transition: -webkit-transform 2s;
    position: absolute;
    height: 100%; }
    #innerview #subInnerview .container {
      border-radius: 100px;
      box-shadow: 10px 10px 5px #888888;
      -webkit-transition: -webkit-transform 2s ease-in-out;
      position: relative;
      height: 100%;
      float: left;
      width: 400px;
      top: 0px; }

@-webkit-keyframes myfirst {
  from {
    background: red; }

  to {
    background: yellow; } }

#bMoveLeft, #bMoveRight {
  top: 480px;
  height: 40px;
  width: 100px;
  position: absolute; }

#bMoveLeft {
  left: 150px; }

#bMoveRight {
  left: 300px; }

.container.slide-1 {
  position: relative;
 /* -webkit-transition: 0.5s all;
  -webkit-animation-name:myfirst 2s;*/
  -webkit-transition: opacity 500ms linear 100ms;
}

.first_page {

}

.author_name {
top: 230px;
position: absolute;
left: 200px;
font-size: 20px;
width: 120px;
}
.header{
font-size: 40px;
color: rgb(151, 10, 10);
top: 100px;
position: absolute;
left: 125px;
}


.thank_you {
font-size: 40px;
color: rgb(151, 10, 10);
top: 150px;
position: absolute;
left: 125px;
}