#table{
display:table;
}
.table-row{
display:table-row;

}
.table-cell{
display:table-cell;
border: 1px solid black;
text-align: center;
padding: 6px 6px 6px 6px;
margin: 6px 6px 6px 6px;
border-spacing: 1px;
}
.row-0{
	display:table-row;
	background-color: red;	
}