$width: 400px;
$height: 400px;
#innerview{
    border: 2px solid;
    overflow: hidden;
    position: absolute;
    height: $height;
    width: $width;
    #subInnerview {
        transition: transform 2s;
        -webkit-transition: -webkit-transform 2s;
        position: absolute;
        height: 100%;
        .container {
            border-radius:100px;
            box-shadow: 10px 10px 5px #888888;
            transition:transform 2s ease-in-out;
            -webkit-transform:rotate(360deg);
            animation:myfirst 5s;
            -webkit-animation:myfirst 5s;
            height: 100%;
            float: left;
            width: $width;
            top: 0px;

        }
    }
}

@keyframes myfirst
{
from {background:red;}
to {background:yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background:red;}
to {background:yellow;}
}

#bMoveLeft, #bMoveRight {
    top: 450px;
    height: 40px;
    width: 100px;
    position: absolute;
}

#bMoveLeft {
    left: 50px;
}

#bMoveRight {
    left: 200px;
}