#innerview {
  border: 2px solid;
  overflow: hidden;
  position: absolute;
  height: 400px;
  width: 400px; }
  #innerview #subInnerview {
    transition: transform 2s;
    -webkit-transition: all 2s ease-in-out;
    position: absolute;
    height: 100%; }
    #innerview #subInnerview .container {
      height: 100%;
      float: left;
      width: 400px;
      top: 0px; }

#bMoveLeft, #bMoveRight {
  top: 450px;
  height: 40px;
  width: 100px;
  position: absolute; }

#bMoveLeft {
  left: 50px; }

#bMoveRight {
  left: 200px; }
